.card {
    min-width: 300px;
    max-width: 300px;
    cursor: pointer;
    scroll-snap-align: start;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 300px;
    /* Square aspect ratio usually */
    background-color: #f5f5f5;
    margin-bottom: 12px;
}

.productImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name {
    font-size: 16px;
    font-weight: 500;
    color: #111;
}

.category {
    font-size: 16px;
    color: #757575;
}

.price {
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
}